.clearfix:after {
    content: "";
    display: block;
    clear: both;
    height: 0;
}

.clearfix {
    display: inline-block;
}

.wrapper {
    background-image: linear-gradient(bottom, rgb(138,134,138) 40%, rgb(125,119,119) 70%, rgb(112,112,112) 85%);
    background-image: -o-linear-gradient(bottom, rgb(138,134,138) 40%, rgb(125,119,119) 70%, rgb(112,112,112) 85%); 
    background-image: -moz-linear-gradient(bottom, rgb(138,134,138) 40%, rgb(125,119,119) 70%, rgb(112,112,112) 85%);
    background-image: -webkit-linear-gradient(bottom, rgb(138,134,138) 40%, rgb(125,119,119) 70%, rgb(112,112,112) 85%);
    background-image: -ms-linear-gradient(bottom, rgb(138,134,138) 40%, rgb(125,119,119) 70%, rgb(112,112,112) 85%);
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.4, rgb(138,134,138)),color-stop(0.7, rgb(125,119,119)),color-stop(0.85, rgb(112,112,112)));
    width: 740px;
    margin: 0 auto;
    border-radius: 20px;
	padding:30px;
}

.page-title {
    font-size: 35px;
	color:#181818 ;
    height: 50px;
    text-align: center;
	padding:10px 0px;
}

nav {
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

.horizontal-menu {
    padding: 0;
    margin: 0 auto;
    display: block;
    width: 600px;
}

.horizontal-menu li {
    margin: 0px 3px;
    text-align: center;
    float: left;
    display: block;
    width: 24%;
    height: 20px;
    border-radius: 8px;
    background-color: #B8B8B8;
}
.selected-item
{
   background-color: #E8E8E8 !important ;
}

.horizontal-menu  li:hover {
    background-color: #E8E8E8;
}

.horizontal-menu li a {
    color: black;
    text-decoration: none;
}
.central-content
{
  border-radius: 10px;
  background-color:#C8C8C8 ;
  padding:10px;
  margin-top:20px;
  font-size:12px;
}
.left-navigation
{
   float:left;
   width:120px;
   padding:5px;
}
.left-navigation ul
{
  list-style-type: none;
  padding:0;
  margin:10px;
}
.left-navigation ul li
{
    margin:10px 0px;
    padding:4px 0px;
    text-align: center;
    display: block;
    width:110px;
    border-radius: 8px;
    background-color: #aaa ;
	
}
.left-navigation ul li:hover
{
   background-color: #E8E8E8;
}
.left-navigation ul li a
{
   
   text-align: center;
   color: black;
   text-decoration: none;
   display:block;
}
.article-content
{
 background-color:#E8E8E8;
 float:left;
 width:550px;
 height:400px;
 margin:10px;
 border-radius: 12px;
 padding:10px;
}
.races{
   border-spacing:0px;
   border:0px;
   
}

.races td:nth-child(1){width :180px;}
.races tbody tr:hover 
{
   background-color:blue;
}
.races tbody td
{
    height:25px;
	width:160px;
	max-width: 160px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.races th {
    background-color:#F80000 ;
	height:30px;
}
.races  th { text-align:left;}

tr:nth-child(even) {background: #CCC}
tr:nth-child(odd) {background: #FFF}