.clearfix:after {
    content: "";
    display: block;
    clear: both;
    height: 0;
}

body{font-family:"Times New Roman", Times, serif}


.wrapper {
    background-image: linear-gradient(bottom, rgb(138,134,138) 40%, rgb(125,119,119) 70%, rgb(112,112,112) 85%);
    background-image: -o-linear-gradient(bottom, rgb(138,134,138) 40%, rgb(125,119,119) 70%, rgb(112,112,112) 85%); 
    background-image: -moz-linear-gradient(bottom, rgb(138,134,138) 40%, rgb(125,119,119) 70%, rgb(112,112,112) 85%);
    background-image: -webkit-linear-gradient(bottom, rgb(138,134,138) 40%, rgb(125,119,119) 70%, rgb(112,112,112) 85%);
    background-image: -ms-linear-gradient(bottom, rgb(138,134,138) 40%, rgb(125,119,119) 70%, rgb(112,112,112) 85%);
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.4, rgb(138,134,138)),color-stop(0.7, rgb(125,119,119)),color-stop(0.85, rgb(112,112,112)));
    width: 740px;
    margin: 0 auto;
    border-radius: 20px;
	padding:15px;
}

.page-title {
    font-size: 30px;
	color:#181818 ;
    height: 40px;
    text-align: center;
}

nav {
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

.horizontal-menu {
    padding: 0;
    margin: 0 auto;
    display: block;
    width: 600px;
}

.horizontal-menu li {
    cursor:default;
    margin-left: 5px;
	padding:3px 0px;
    text-align: center;
    float: left;
    display: block;
    width: 24%;
    border-radius: 8px;
    background-color: #B8B8B8;
}
.selected-item
{
   background-color: #E8E8E8 !important ;
}

.horizontal-menu  li:hover {
    background-color: #E8E8E8;
}

.horizontal-menu li a {
    color: black;
    text-decoration: none;
}
.central-content
{
  border-radius: 10px;
  background-color:#C8C8C8 ;
  padding:10px;
  margin:10px;
  font-size:12px;
}
.left-navigation
{
 
}
.left-navigation ul
{
  list-style-type: none;
  padding:0;
  margin:0;
  margin-bottom:10px;

}
.left-navigation ul li
{
    cursor:default;
    margin-left:5px;
    padding:4px 0px;
    text-align: center;
    display: block;
    width:120px;
    border-radius: 8px;
    float:left;
    background-color: #aaa ;
	
}
.left-navigation ul li:hover
{
   background-color: #E8E8E8;
}
.left-navigation ul li a
{
   
   text-align: center;
   color: black;
   text-decoration: none;
   display:block;
}
.article-content
{
 background-color:#E8E8E8;
 border-radius: 12px;
 padding:10px;
}
.races{
   border-spacing:0px;
   border:0px;
   margin: 0 auto;
}
.required{border:solid 1px red;}
.races a {color:green;text-decoration:none;}
.races td:nth-child(1){width :180px;}
.races tbody td:nth-child(4):hover ,.races tbody td:nth-child(5):hover,.races tbody td:nth-child(6):hover{background-color:#404040;}
.races tbody td:nth-child(4),.races tbody td:nth-child(5),.races tbody td:nth-child(6){text-align:center;}
.races tbody td
{cursor:default;height:25px;width:160px;max-width: 160px;overflow: hidden;text-overflow: ellipsis;white-space:nowrap;}
.races th {background-color:#F80000 ;height:30px;}
.races  th { text-align:left;}
tr:nth-child(even) {background: #CCC}
tr:nth-child(odd) {background: #FFF}
.newForm{padding:5px;}
.newForm  label {display:block;margin-bottom:2px;}
.newForm input[type="text"],.newForm input[type="number"] {display:block;margin-bottom:10px;width:164px;}
.newForm select {margin-bottom:10px;display:block; width:164px;}
.newForm div {font-size:13px;}
input.check-box{display:inline-block;}
.bnt{margin:10px;float:right;}
.hideDiv{display:none;}
.newForm textarea {width:160px;height:60px;}
.disciplines {padding:30px;}
.disciplines p {margin:5px 0px;}
.disciplines h4 {text-align:center;margin:10px;}
